*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nave ul{
    list-style-type: none;
    content: "";
    display: table;
    clear: both;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}

nav{
    width: 100%;
    margin: 0 auto;
}
